:root {
    --white: #f9f9f9;
    --black: #222;
    --blue: #00ecff;
    --pink: #ff00ec;
    --blue-transparent: #00ecff80;
    --pink-transparent: #ff00ec80;
    --dark-blue: #5d00ff;
    --yellow: #f9cf00;
    --yellow-transparent: #ffff0088;
    --transition: all 0.3s linear;
    font-size: 1em;
}

/* NAVBAR */

body {
    background-color: var(--white);
    font-family: Helvetica;
}

.nav-logo {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.logo {
    background-image: url(../images/three-in-a-row.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80%;
}



/* MAIN */

.main-div {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome {
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.gradient-button {
    font-size: 2rem;
    border-width: 0.1em;
    border-style: solid;
    border-color: var(--white);
    border-image: linear-gradient(165deg, rgba(0, 236, 255, 1) 0%, rgba(255, 0, 236, 1) 100%) 1;
}

.gradient-button:hover {
    transition: var(--transition);
    box-shadow: 0px 0px 19px 0px var(--pink-transparent), 0px 0px 23px 5px var(--blue-transparent);
    border: 0.1em solid #f9f9f9;
}

.bold-grad-text {
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(165deg, rgba(0, 236, 255, 1) 0%, rgba(255, 0, 236, 1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}

/* PLAYER SELECT */

.main-playerselect {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 572px) {
    .main-playerselect {
        justify-content: center;
    }
}

.card-border-gradient-blue {
    border-width: 0.1em;
    border-style: solid;
    border-image: linear-gradient(165deg, rgba(0, 236, 255, 1) 0%, rgb(125, 0, 208) 100%) 1;
    border-radius: 0%;
}

.bold-grad-text-blue {
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(165deg, #00ecff 0%, #5d00ff 30%);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}

.form-blue {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px #f9f9f9 solid;
    box-shadow: 0px 0px 5px 0px var(--pink-transparent), 0px 0px 10px 2px var(--blue-transparent);
    transition: var(--transition);
}

.form-blue:checked[type=radio] {
    box-shadow: 0px 0px 10px 0px #0008ffb3, 0px 0px 15px 4px #00ecffb3;
    background-color: #4158D0;
    background-image: linear-gradient(165deg, #00ecff 0%, #5d00ff 80%);
    background-size: 100%;
    border: none;
}

.text-input-border-blue:focus {
    border: 1px var(--white) solid;
    box-shadow: 0px 0px 5px 0px var(--pink-transparent), 0px 0px 10px 2px var(--blue-transparent);
}

.card-border-gradient-pink {
    border-width: 0.1em;
    border-style: solid;
    border-image: linear-gradient(205deg, #f9cf00 0%, #fb22ff 100%) 1;
    border-radius: 0%;
}

.bold-grad-text-pink {
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(165deg, #f9cf00 0%, #ff00ec 30%);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}

.form-pink {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px #f9f9f9 solid;
    box-shadow: 0px 0px 5px 2px var(--pink-transparent), 0px 0px 10px 3px var(--yellow-transparent);
    transition: var(--transition);
}

@media(max-width: 572px) {

    .form-blue,
    .form-pink {
        width: 1rem;
        height: 1rem;
    }
}

.form-pink:checked[type=radio] {
    box-shadow: 0px 0px 10px 0px #ff0088b3, 0px 0px 15px 4px #ffe600;
    background-color: #ff00ea;
    background-image: linear-gradient(165deg, #f9cf00 0%, #ff00ec 100%);
    background-size: 100%;
    border: none;
}

.text-input-border-pink:focus {
    border: 1px var(--white) solid;
    box-shadow: 0px 0px 5px 2px var(--pink-transparent), 0px 0px 10px 3px var(--yellow-transparent);
}

.gradient-button-play {
    font-size: 2rem;
    border-width: 0.1em;
    border-style: solid;
    border-color: var(--white);
    border-image: linear-gradient(165deg, rgba(0, 236, 255, 1) 0%, rgba(255, 0, 236, 1) 100%) 1;
    width: 100%;
}

/* GAME */

.positioning {
    /* width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center; */
}

/* BOARD */

.board-container {
    width: 32vw;
    height: 32vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0;
}

@media (max-width: 1024px) {
    .board-container {
        height: 40vw;
        width: 40vw;
    }
}

@media (max-width: 572px) {
    .board-container {
        width: 70vw;
        height: 70vw;
    }
}


.cell {
    text-align: center;
    font-size: 7vw;
    padding: 0;
    cursor: pointer;
}

@media (max-width: 572px) {
    .cell {
        font-size: 15vw;
    }
}

.border-rb-blue {
    border-bottom: 0.03em solid #00ecff80;
    border-right: 0.03em solid #00ecff80;
}

.border-b-blue {
    border-bottom: 0.03em solid #00ecff80;
}

.border-r-blue {
    border-right: 0.03em solid #00ecff80;
}

.border-rb-pink {
    border-bottom: 0.03em solid #ff00ec80;
    border-right: 0.03em solid #ff00ec80;
}

.border-b-pink {
    border-bottom: 0.03em solid #ff00ec80;
}

.border-r-pink {
    border-right: 0.03em solid #ff00ec80;
}

.bold-grad-text-inv {
    font-weight: 900;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(165deg, rgba(255, 0, 236, 1) 0%, rgba(0, 236, 255, 1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}


/* CARDS */

.player-info {
    border: none;
    background-color: transparent;
}

/* WINNER SCREEN */

.main {
    width: 100vw;
    height: 55vh;
}

.congratulation {
    box-shadow: 0px 0px 5px 0px var(--pink-transparent),
        0px 0px 10px 2px var(--blue-transparent);
    width: 100%;
}

#congrat-player {
    font-size: calc(1.5rem + 4vw);
}

.congrat-text {
    font-size: calc(1rem + 2vw);
    text-transform: uppercase;
}

.gradient-button-winner {
    font-size: 1.5rem;
    border-width: 0.1em;
    border-style: solid;
    border-color: var(--white);
    border-image: linear-gradient(165deg, rgba(0, 236, 255, 1) 0%, rgba(255, 0, 236, 1) 100%) 1;
}

.gradient-button-winner:hover {
    transition: var(--transition);
    box-shadow: 0px 0px 19px 0px var(--pink-transparent), 0px 0px 23px 5px var(--blue-transparent);
    border: 0.1em solid #f9f9f9;
}

/* HOW TO */

.main-rules {
    width: 70%;
    margin: auto;
}

@media(max-width:572px) {
    .rules {
        font-size: 0.85rem;
    }
}

.gradient-button-rules {
    font-size: calc(0.75rem + 1.5vw);
    border-width: 0.1em;
    border-style: solid;
    border-color: var(--white);
    border-image: linear-gradient(165deg, rgba(0, 236, 255, 1) 0%, rgba(255, 0, 236, 1) 100%) 1;
}

.gradient-button-rules:hover {
    transition: var(--transition);
    box-shadow: 0px 0px 19px 0px var(--pink-transparent), 0px 0px 23px 5px var(--blue-transparent);
    border: 0.1em solid #f9f9f9;
}